    <section class="contact-section">
        <p>Contact: <a href="mailto:max.henrotin@gmail.com">max.henrotin@gmail.com</a></p>
        <p><a href="#" class="newsletter-link">Newsletter</a></p>
        <p><a href="#" class="subscribe-link">Subscribe</a></p>
    </section>

</main>


    <!-- Link to external JavaScript file -->
    <!-- <script src="data/data.js"></script> -->
    <script src="scripts/scripts.js"></script>
</body>
</html>