<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Precious Webshop</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <a href="/">    <!--changed for ejs-->
                <img src="images/logo.png" alt="Logo" />
            </a>
        </div>
    
        <div class="header-cart-loop">
            <a href="/cart">    <!--changed for ejs-->
                <img src="images/cart.png" alt="cart" />
                <span class="cart-count">0</span> 
            </a>
            <img src="images/loop.png" alt="loop" />
        </div>
    </header>

    <main>