    <%- include('partials/header') %>
        <section class="cart-items-section">
            <h2>Your Cart</h2>

            <!-- Cart Items List -->
            <div class="cart-items-container">
                <div class="cart-items-label">
                    <span>Product Name</span>
                    <span>Amount</span>
                </div>
                <div class="cart-items">
                    <!-- Cart items will be dynamically added here via JavaScript -->
            
                </div>
            </div>

        </section>

    <%- include('partials/footer') %>
