<%- include('partials/header') %>

<section class="selected-category-section">
    <h2 id="selected-category">Selected Category: None</h2>
</section>

<section class="optional-categories-section">
    <ul>
        <li><button onclick="selectCategory('Diamond')">Diamond</button></li>
        <li><button onclick="selectCategory('Ruby')">Ruby</button></li>
        <li><button onclick="selectCategory('Emerald')">Emerald</button></li>
        <li><button onclick="selectCategory('Sapphire')">Sapphire</button></li>
        <li><button onclick="selectCategory('Opal')">Opal</button></li>
        <li><button onclick="selectCategory('Topaz')">Topaz</button></li>
        <li><button onclick="selectCategory('Aquamarine')">Aquamarine</button></li>
        <li><button onclick="selectCategory('Amethyst')">Amethyst</button></li>
        <li><button onclick="selectCategory('Garnet')">Garnet</button></li>
        <li><button onclick="selectCategory('Peridot')">Peridot</button></li>
    </ul>
</section>


<section class="welcoming-section">
    <h3>Welcome to the Precious Webshop!</h3>
    <!-- <img src="images/welcome.png" alt="Welcome Image" class="welcoming-image"> -->
</section>

<section class="category-images-section">
    <div class="category-images">
        <div class="product">
            <img src="images/logo.png" alt="default" class="product-image"/>
            <p>Choose a category</p>
            <span class="cart-count">0</span> 
            <img src="images/cart.png" alt="cart" class="cart-icon" />
        </div>
        <div class="product">
            <img src="images/logo.png" alt="default" class="product-image"/>
            <p>Choose a category</p>
            <span class="cart-count">0</span> 
            <img src="images/cart.png" alt="cart" class="cart-icon" />
        </div>
        <div class="product">
            <img src="images/logo.png" alt="default" class="product-image"/>
            <p>Choose a category</p>
            <span class="cart-count">0</span> 
            <img src="images/cart.png" alt="cart" class="cart-icon" />
        </div>
        <div class="product">
            <img src="images/logo.png" alt="default" class="product-image"/>
            <p>Choose a category</p>
            <span class="cart-count">0</span> 
            <img src="images/cart.png" alt="cart" class="cart-icon" />
        </div>
        <div class="product">
            <img src="images/logo.png" alt="default" class="product-image"/>
            <p>Choose a category</p>
            <span class="cart-count">0</span> 
            <img src="images/cart.png" alt="cart" class="cart-icon" />
        </div>
    </div>
</section>        

<%- include('partials/footer') %>
